@import "tailwindcss";

:root {
  --background: #111518;
  --foreground: #F5F6F4;
}

/* @layer components {
  .corner-style::before {
    content: "";
    position: absolute;
    margin: -20px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background-color: theme('colors.black');
  }
} */

@utility corner-style {
  content: "";
  position: absolute;
  width: 20px;
  height: 28px;
  background-color: var(--background);
  color: var(--color-raspberry);
  border: 2px;
  border-style: solid;
  border-radius: 15%;
  top:0%;
  transform: translate(-195%, 0%);
}

@utility resume-item {
  position:relative;
  margin-left: calc(var(--spacing) * 3.5);
  /* margin-bottom: calc(var(--spacing) * 2); */
  padding-bottom: calc(var(--spacing) * 2);
  padding-left: calc(var(--spacing) * 7);
  border-left: 2px var(--color-raspberry);
  border-style: solid;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --breakpoint-xs: 30rem;
  --color-blood: #870808;
  --color-sage: #BBC7A4;
  --color-warmblue: #1e5bd8;
  --color-raspberry: #D81E5B;
  --color-aquagreen: #1ed89b;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
